/* Nav Bar */

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');






body {
      background-image: url("https://i.ibb.co/2NhtQvB/3a8ee78bf90ef98ee6c1b86da1ed6efa.png");
      background-repeat: no-repeat;
      background-size: 2000px;
}






div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #282828;
  padding: 1px;
  font-size: 20px;
  z-index: 999999;
}






* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: sticky;
  }






li, a, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 50;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}






header {
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
}






.text {
  cursor: pointer;
  margin-right: auto;
  color: white;
  font-size: 30px;
}







.nav__links {
  list-style: none;
}






.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}






.nav__links li a {
  transition: all 0.3s ease 0s;
}






.nav__links li a:hover {
  color: #0088a9;
}






button {
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}






button:hover {
  background-color: rgba(0,136,169,0.8);
}







/* This code is for the "Welcome to IsraVies!" */
.Header {
  color: #282828;
  font-size: 50px;
  font-family: 'Nunito', sans-serif;
}






.header-space {
  height: 0px;
	left: 200px;
	margin-left: 90px;
	top: 5px;
	margin-top: 200px;
}






/* This code is for the "The best movies platform in the internet." */
.Under-Header {
  color: white;
  font-size: 23px;
  font-family: 'Nunito', sans-serif;
}






.under-header-space {
  height: 0px;
	left: 200px;
	margin-left: 100px;
	top: 5px;
	margin-top: 75px;
}






/* This is for the "TRY IT FOR FREE!" Button. */
.btn {
  margin-left: 10000px;
  left: 89px;
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  border-radius: 50px;
  background-color: rgba(0,136,169,1);
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  padding: 9px 25px;
  width: 219px;
  transition: all 0.3s ease 0s;
  margin: 5px;
}






.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}






.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}






.btn:hover span {
  padding-right: 25px;
}






.btn:hover span:after {
  opacity: 1;
  right: 0;
}






.UnderButton {
  color: white;
  font-size: 13px;
  font-family: 'Nunito', sans-serif;
}






.Under-Button-Space {
  height: 0px;
	left: 25000px;
	margin-left: 111px;
	top: 5px;
	margin-top: 3px;
}






.footer-space {
  height: 0px;
	left: 200px;
	margin-left: 50px;
  top: 5px;
	margin-top: 380px;

}






.footer-text {
  color: #a9a9a9;
  font-family: 'Nunito', sans-serif;
}






.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  font-family: 'Nunito', sans-serif;
}





.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}





div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #282828;
  padding: 1px;
  font-size: 30px;
}






.closebtn:hover {
  color: black;
}






.line-hr {
  opacity: 0.3;
}
